<div class="row">
  <% if (store.areas) { %>
  <% for (var i=0;i<store.areas.length;i++) { %>
    <div class="col-lg-3 col-md-3 col-sm-3 mb">
      <div>
        <div><h1><%= store.areas[i].area_name %></h1></div>
        <div><h1><%= store.areas[i].minor_id %></h1></div>
        <div><a href='/clients/<%= store.client%>/stores/<%= store._id%>/areas/<%= store.areas[i]._id %>'>Update</a></div>
      </div>
    </div>
  <% } %>
  <% } %>
</div>
