<div class="modal fade" id="editAreaModal">
<div class="modal-dialog">
<div class="modal-content">

<!-- MODAL HEADER -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title">Edit Client</h4>
</div>

<form id="editAreaForm" class="form-horizontal" action="/clients/<%= store.client %>/stores/<%= store._id %>/areas/<%= area._id %>" method="POST">
  <!-- MODAL BODY -->
  <div class="modal-body">
    <!-- show any messages that come back with authentication -->
    <% if (is_new && is_new==2) { %>
      <% include _error %>
    <% } %>
    <input name="_method" value="PUT" type="hidden">
    <div class='form-group'>
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" value="<%= area.area_name %>" placeholder="Name" name="area_name" required>
      </div>
    </div>
    <div class='form-group'>
      <label class="col-sm-2 control-label">Minor ID</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" value="<%= area.minor_id %>" placeholder="1" name="minor_id" required>
      </div>
    </div>
    <div class='form-group'>
      <label class="col-sm-2 control-label">Position</label>
      <div class="col-lg-10">
        <div class="input-group" style="margin-bottom:15px;">
          <div class="input-group-addon">X</div>
          <input type="text" class="form-control" value='<%= area.position.x %>' placeholder="x" name="x">
        </div>
        <div class="input-group" style="margin-bottom:15px;">
          <div class="input-group-addon">Y</div>
          <input type="text" class="form-control" value='<%= area.position.y %>' placeholder="y" name="y">
        </div>
        <div class="input-group">
          <div class="input-group-addon">Z</div>
          <input type="text" class="form-control" value='<%= area.position.y %>' placeholder="y" name="y">
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL FOOTER -->
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <input type="submit" class="btn btn-primary" value="Update" id='editAreaSubmit'/>
  </div>
  <!-- -->
</form>

</div>
</div>
</div>
