<!DOCTYPE html>
<html>
  <% include _header %>
  <body>
    <div id='wrapper'>
      <% include _navbar %>
      <div id='page-wrapper'>
        <div class="col-lg-12">
          <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i><a href='/clients'> Client name</a></li>
            <li><i class="fa fa-dashboard"></i><a href='/clients/<%= store.client %>/stores'> <%= store.store_name %></a></li>
            <li class="active"><i class="fa fa-dashboard"></i> Content</li>
          </ol>
        </div>
        <div class='container-fluid'>
          <!-- Page Heading -->
          <% if (is_new && is_new==4) { %>
            <% include _error %>
          <% } %>
          <div class="row">
            <div class='col-lg-12'>
              <div class='header-panel'>
                <div class='header-img'>
                  <img src="http://images.media-allrecipes.com/userphotos/140x140/00/94/91/949139.jpg" alt="" class="img-circle logo">
                </div>
                <div class="header-data">
                  <h2><%= area.area_name %></h2>
                  <p>UUID: <%= store.uuid %></p>
                  <p>Major ID: <%= store.major_id %></p>
                  <p>Minor ID: <%= area.minor_id %></p>
                  <button id='editAreaButton'>Edit Area</button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->
          <% include _edit_area %>
          <% include _content %>
        </div>
      </div>
    </div>
    <% include _bottom_js %>
    <script src="/javascripts/content.js"></script>
    <% if (is_new && is_new == 2) { %>
      <script>
        $('#editAreaModal').modal();
      </script>
    <% } %>
    <% if (is_new && is_new == 3) { %>
      <script>
        $('#editContentModal').modal();
      </script>
    <% } %>
  </body>
  </body>
</html>
